<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logo" width="125" height="125" alt="EDS Logo" src="../assets/icons/Logo.png" />
  <!-- <ul class="menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul> -->


  <ul class="menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/services">Services</a>
      <!-- <ul>
        <li><a routerLink="/services/custom-applications">Custom Applications</a></li>
        <li><a routerLink="/services/product-design-development">Product Design & Development</a></li>
        <li><a routerLink="/services/cloud-development">Cloud Development</a></li>
        <li><a routerLink="/services/cloud-migration">Cloud Migration</a></li>
        <li><a routerLink="/services/app-modernization">App Modernization</a></li>
        <li><a routerLink="/services/corporate-websites">Corporate Websites</a></li>
        <li><a routerLink="/services/chrome-extension-development">Chrome Extension Development</a></li>
        <li><a routerLink="/services/technical-account-management">Technical Account Management</a></li>
        <li><a routerLink="/services/are-you-stuck-in-code">Are you stuck in code, need help just this time</a></li>
      </ul> -->
    </li>
    <li><a routerLink="/industries">Industries</a>
      <!-- <ul>
        <li><a routerLink="/industries/travel-movement">Travel & Movement</a></li>
        <li><a routerLink="/industries/healthcare">Healthcare</a></li>
        <li><a routerLink="/industries/construction-specification">Construction & Specification</a></li>
        <li><a routerLink="/industries/workforce-management">Workforce Management</a></li>
        <li><a routerLink="/industries/education">Education</a></li>
        <li><a routerLink="/industries/cloud-migration">Cloud Migration</a></li>
        <li><a routerLink="/industries/agriculture">Agriculture</a></li>
        <li><a routerLink="/industries/legal">Legal</a></li>
        <li><a routerLink="/industries/payment-retail">Payment & Retail</a></li>
      </ul> -->
    </li>
    <li><a routerLink="/our-approach">Our Approach</a></li>
    <li><a routerLink="/tools-we-use">Tools We Use</a></li>
    <li><a routerLink="/blogs">Blogs</a></li>
    <li class="contact"><a routerLink="/contact-us" >Contact Us</a></li>
  </ul>
</div>
<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->

