<div class="pageHeader"><span>Tools we use</span></div>>

<div style="height: 600px; width: 80%; background-color: black; margin-left:12%">
<img src="assets/icons/Dotnet-Blue-Logo.png" alt="tools-we-use" class="technologies-icons fadeInLeft">
<img src="assets/icons/Dotnet-Core-Logo.png" alt="tools-we-use" class="technologies-icons fadeInLeft">
<img src="assets/icons/Angular-Logo.png" alt="tools-we-use" class="technologies-icons fadeInRight">
<img src="assets/icons/React-Logo.png" alt="tools-we-use" class="technologies-icons fadeInRight">
<img src="assets/icons/C-Sharp-Blue-Logo.png" alt="tools-we-use" class="technologies-icons fadeInLeft">
<img src="assets/icons/TypeScript-Logo.png" alt="tools-we-use" class="technologies-icons fadeInLeft">
<img src="assets/icons/HTML-5.png" alt="tools-we-use" class="technologies-icons fadeInRight">
<img src="assets/icons/CSS-Blue-Logo.png" alt="tools-we-use" class="technologies-icons fadeInRight">
<img src="assets/icons/MS-Azure-logo.png" alt="tools-we-use" class="technologies-icons fadeInLeft">
<img src="assets/icons/MS-SQL-Server.png" alt="tools-we-use" class="technologies-icons fadeInLeft">
<img src="assets/icons/No-SQL-Logo.png" alt="tools-we-use" class="technologies-icons fadeInRight">
<img src="assets/icons/Mongo-DB-Logo.png" alt="tools-we-use" class="technologies-icons fadeInRight">

</div>
